[Desktop Entry]
Name=IGN Launcher
Exec=/usr/bin/ignsdk -p %U
MimeType=application/zip-ign
Icon=x-ign
Terminal=false
Type=Application
Categories=ConsoleOnly
