#!/usr/bin/make -f
export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	dh_testdir
	dh_testroot
	dh_quilt_patch
	qmake ign.pro
	$(MAKE) INSTALL_ROOT=$$(pwd)/debian/ignsdk-debian/ install
	dh_quilt_unpatch
